<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../index.css">
    <title>Investiments</title>
</head>
<body>
    <!--Nav Bar-->
    <nav class="navbar navbar-expand-lg" style="background-color: #f70808;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">TLOVE Enterprise</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-link">
                        <a class="nav-link active text-white  rounded" aria-current="page" href="#">Services</a>
                    </li>
                    <li class="nav-link">
                        <a class="nav-link active text-white  rounded" aria-current="page" href="investiments.html">Investments</a>
                    </li>
                    <li class="nav-link">
                        <a class="nav-link active text-white rounded" aria-current="page" href="#">Know us</a>
                    </li>
                    <li class="nav-link">
                        <a class="nav-link active text-white  rounded" aria-current="page" href="#">Contact
                            us</a>
                    </li>
                    <li class="nav-link">
                        <a type="button" class="nav-link active text-white bg-dark rounded" aria-current="page" href="#"
                            data-bs-toggle="modal" data-bs-target="#exampleModal">Power by Alexandra Aguilar</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br>
    <!--Fin de navBar  container-fluid d-flex flex-column align-items-center justify-content-center text-center    -->

    <!-- Contenido -->

    <div class="image-container">
        <!-- Coloca la imagen dentro del contenedor con la clase "image-container" -->
        <img src="../assets/img_bienes_raices.jpg" alt="Imagen de fondo">
    
        <!-- Agrega el texto sobre la imagen usando la clase "overlay-text" -->
        <div class="overlay-text">
          <h2>Tu Texto Aquí</h2>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In mollitia aliquam molestias rerum hic, doloremque aspernatur qui harum, culpa sed itaque iure quo, quibusdam ad quos? Ipsum facilis magnam commodi?</p>
        </div>
      </div>

    <!-- Fin de contenido -->
</body>
</html>