<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../index.css">
    <script type="text/javascript"
        src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <title>TLOVE Enterprise</title>
</head>

<body>

    <!--Nav Bar-->
    <nav class="navbar navbar-expand-lg" style="background-color: #f70808;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">TLOVE Enterprise</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-link">
                        <a class="nav-link active text-white  rounded" aria-current="page"
                            href="./services.html">Services</a>
                    </li>
                    <li class="nav-link">
                        <a class="nav-link active text-white  rounded" aria-current="page"
                            href="investiments.html">Investments</a>
                    </li>
                    <li class="nav-link">
                        <a class="nav-link active text-white rounded" aria-current="page" href="./kwnow_us.html">Know
                            us</a>
                    </li>
                    <li class="nav-link">
                        <a type="button" class="nav-link active text-white  rounded" aria-current="page"
                            data-bs-toggle="modal" data-bs-target="#exampleModal2">Contact
                            us</a>
                    </li>
                    <li class="nav-link">
                        <div id="google_translate_element" class="google"></div>
                    </li>
                    <li class="nav-link">
                        <a type="button" class="nav-link active text-white bg-dark rounded" aria-current="page" href="#"
                            data-bs-toggle="modal" data-bs-target="#exampleModal">Power by Alexandra Aguiar</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br>
    <!--Fin de navBar  container-fluid d-flex flex-column align-items-center justify-content-center text-center    -->
    <!-- Contenedor principal del body -->
    <div class="container">

        <!-- Cards -->
        <div class="container text-center">
            <h1 class="text-black">Conoce nuestras gran variedad de servicios</h1>
            <br>
            <div class="d-flex flex-wrap">
                <div class="card mb-3" style="width: 18rem; border: none;">
                    <img src="../assets/trato.jpg" class="card-img-top" alt="...">
                    <div class="card-body p-0">
                        <h5 class="card-title bg-danger text-light mb-0 pl-3 pr-3 pt-2 pb-2">Privating financy</h5>
                        <div class="d-flex align-items-center">
                            <p class="p-3 m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolor
                                pariatur adipisci dolorem quod odio saepe quis reiciendis voluptatum, qui harum
                                recusandae delectus et esse voluptatibus maxime enim quo quidem!</p>
                        </div>
                        <a data-bs-toggle="modal" data-bs-target="#exampleModal2" class="btn btn-outline-dark">get to
                            know our service</a>
                    </div>
                </div>

                <div class="card mb-3" style="width: 18rem; border: none;">
                    <img src="../assets/trato.jpg" class="card-img-top" alt="...">
                    <div class="card-body p-0">
                        <h5 class="card-title bg-danger text-light mb-0 pl-3 pr-3 pt-2 pb-2">Privating financy</h5>
                        <div class="d-flex align-items-center">
                            <p class="p-3 m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolor
                                pariatur adipisci dolorem quod odio saepe quis reiciendis voluptatum, qui harum
                                recusandae delectus et esse voluptatibus maxime enim quo quidem!</p>
                        </div>
                        <a data-bs-toggle="modal" data-bs-target="#exampleModal2" class="btn btn-outline-dark">get to
                            know our service</a>
                    </div>
                </div>

                <div class="card mb-3" style="width: 18rem; border: none;">
                    <img src="../assets/trato.jpg" class="card-img-top" alt="...">
                    <div class="card-body p-0">
                        <h5 class="card-title bg-danger text-light mb-0 pl-3 pr-3 pt-2 pb-2">Privating financy</h5>
                        <div class="d-flex align-items-center">
                            <p class="p-3 m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolor
                                pariatur adipisci dolorem quod odio saepe quis reiciendis voluptatum, qui harum
                                recusandae delectus et esse voluptatibus maxime enim quo quidem!</p>
                        </div>
                        <a data-bs-toggle="modal" data-bs-target="#exampleModal2" class="btn btn-outline-dark">get to
                            know our service</a>
                    </div>
                </div>

                <div class="card mb-3" style="width: 18rem; border: none;">
                    <img src="../assets/trato.jpg" class="card-img-top" alt="...">
                    <div class="card-body p-0">
                        <h5 class="card-title bg-danger text-light mb-0 pl-3 pr-3 pt-2 pb-2">Privating financy</h5>
                        <div class="d-flex align-items-center">
                            <p class="p-3 m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolor
                                pariatur adipisci dolorem quod odio saepe quis reiciendis voluptatum, qui harum
                                recusandae delectus et esse voluptatibus maxime enim quo quidem!</p>
                        </div>
                        <a data-bs-toggle="modal" data-bs-target="#exampleModal2" class="btn btn-outline-dark">get to
                            know our service</a>
                    </div>
                </div>

                <div class="card mb-3" style="width: 18rem; border: none;">
                    <img src="../assets/trato.jpg" class="card-img-top" alt="...">
                    <div class="card-body p-0">
                        <h5 class="card-title bg-danger text-light mb-0 pl-3 pr-3 pt-2 pb-2">Privating financy</h5>
                        <div class="d-flex align-items-center">
                            <p class="p-3 m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolor
                                pariatur adipisci dolorem quod odio saepe quis reiciendis voluptatum, qui harum
                                recusandae delectus et esse voluptatibus maxime enim quo quidem!</p>
                        </div>
                        <a data-bs-toggle="modal" data-bs-target="#exampleModal2" class="btn btn-outline-dark">get to
                            know our service</a>
                    </div>
                </div>

                <div class="card mb-3" style="width: 18rem; border: none;">
                    <img src="../assets/trato.jpg" class="card-img-top" alt="...">
                    <div class="card-body p-0">
                        <h5 class="card-title bg-danger text-light mb-0 pl-3 pr-3 pt-2 pb-2">Privating financy</h5>
                        <div class="d-flex align-items-center">
                            <p class="p-3 m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolor
                                pariatur adipisci dolorem quod odio saepe quis reiciendis voluptatum, qui harum
                                recusandae delectus et esse voluptatibus maxime enim quo quidem!</p>
                        </div>
                        <a data-bs-toggle="modal" data-bs-target="#exampleModal2" class="btn btn-outline-dark">get to
                            know our service</a>
                    </div>
                </div>

                <div class="card mb-3" style="width: 18rem; border: none;">
                    <img src="../assets/trato.jpg" class="card-img-top" alt="...">
                    <div class="card-body p-0">
                        <h5 class="card-title bg-danger text-light mb-0 pl-3 pr-3 pt-2 pb-2">Privating financy</h5>
                        <div class="d-flex align-items-center">
                            <p class="p-3 m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolor
                                pariatur adipisci dolorem quod odio saepe quis reiciendis voluptatum, qui harum
                                recusandae delectus et esse voluptatibus maxime enim quo quidem!</p>
                        </div>
                        <a data-bs-toggle="modal" data-bs-target="#exampleModal2" class="btn btn-outline-dark">get to
                            know our service</a>
                    </div>
                </div>

                <div class="card mb-3" style="width: 18rem; border: none;">
                    <img src="../assets/trato.jpg" class="card-img-top" alt="...">
                    <div class="card-body p-0">
                        <h5 class="card-title bg-danger text-light mb-0 pl-3 pr-3 pt-2 pb-2">Privating financy</h5>
                        <div class="d-flex align-items-center">
                            <p class="p-3 m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolor
                                pariatur adipisci dolorem quod odio saepe quis reiciendis voluptatum, qui harum
                                recusandae delectus et esse voluptatibus maxime enim quo quidem!</p>
                        </div>
                        <a data-bs-toggle="modal" data-bs-target="#exampleModal2" class="btn btn-outline-dark">get to
                            know our service</a>
                    </div>
                </div>

                <div class="card mb-3" style="width: 18rem; border: none;">
                    <img src="../assets/trato.jpg" class="card-img-top" alt="...">
                    <div class="card-body p-0">
                        <h5 class="card-title bg-danger text-light mb-0 pl-3 pr-3 pt-2 pb-2">Privating financy</h5>
                        <div class="d-flex align-items-center">
                            <p class="p-3 m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolor
                                pariatur adipisci dolorem quod odio saepe quis reiciendis voluptatum, qui harum
                                recusandae delectus et esse voluptatibus maxime enim quo quidem!</p>
                        </div>
                        <a data-bs-toggle="modal" data-bs-target="#exampleModal2" class="btn btn-outline-dark">get to
                            know our service</a>
                    </div>
                </div>

                <div class="card mb-3" style="width: 18rem; border: none;">
                    <img src="../assets/trato.jpg" class="card-img-top" alt="...">
                    <div class="card-body p-0">
                        <h5 class="card-title bg-danger text-light mb-0 pl-3 pr-3 pt-2 pb-2">Privating financy</h5>
                        <div class="d-flex align-items-center">
                            <p class="p-3 m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolor
                                pariatur adipisci dolorem quod odio saepe quis reiciendis voluptatum, qui harum
                                recusandae delectus et esse voluptatibus maxime enim quo quidem!</p>
                        </div>
                        <a data-bs-toggle="modal" data-bs-target="#exampleModal2" class="btn btn-outline-dark">get to
                            know our service</a>
                    </div>
                </div>

                <div class="card mb-3" style="width: 18rem; border: none;">
                    <img src="../assets/trato.jpg" class="card-img-top" alt="...">
                    <div class="card-body p-0">
                        <h5 class="card-title bg-danger text-light mb-0 pl-3 pr-3 pt-2 pb-2">Privating financy</h5>
                        <div class="d-flex align-items-center">
                            <p class="p-3 m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolor
                                pariatur adipisci dolorem quod odio saepe quis reiciendis voluptatum, qui harum
                                recusandae delectus et esse voluptatibus maxime enim quo quidem!</p>
                        </div>
                        <a data-bs-toggle="modal" data-bs-target="#exampleModal2" class="btn btn-outline-dark">get to
                            know our service</a>
                    </div>
                </div>

                <div class="card mb-3" style="width: 18rem; border: none;">
                    <img src="../assets/trato.jpg" class="card-img-top" alt="...">
                    <div class="card-body p-0">
                        <h5 class="card-title bg-danger text-light mb-0 pl-3 pr-3 pt-2 pb-2">Privating financy</h5>
                        <div class="d-flex align-items-center">
                            <p class="p-3 m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolor
                                pariatur adipisci dolorem quod odio saepe quis reiciendis voluptatum, qui harum
                                recusandae delectus et esse voluptatibus maxime enim quo quidem!</p>
                        </div>
                        <a data-bs-toggle="modal" data-bs-target="#exampleModal2" class="btn btn-outline-dark">get to
                            know our service</a>
                    </div>
                </div>





            </div>

        </div>
        <!-- Fin de Cards -->

    </div> <!-- Fin del contenedor principal -->



    <!--FOOTER-->
    <footer id="footer" class="pb-4 pt-4 text-light"
        style="background-image: url('assets/FLOTER.jpg'); background-size: cover;">


        <div class="row text-center">
            <div class="col pb-2 pt-4">
                <img src="../assets/logo2.png" class="rounded" alt="Logo" width="400px" height="150px">
            </div>
        </div>

        <div class="row text-center">
            <div class="col pb-2 pt-4">
                <p> &copy; 2023 TLOVE Enterprises LLC. Founded in 2021.</p>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <a class="nav-link active text-white rounded" aria-current="page"
                            href="./services.html">Services</a>
                    </div>
                    <div class="col">
                        <a class="nav-link active text-white rounded" aria-current="page"
                            href="./investiments.html">Investment</a>
                    </div>
                    <div class="col">
                        <a class="nav-link active text-white rounded" aria-current="page" href="./kwnow_us.html">Know
                            us</a>
                    </div>
                    <div class="col">
                        <a type="button" class="nav-link active text-white " aria-current="page" href="#"
                            data-bs-toggle="modal" data-bs-target="#exampleModal">Power by Alexandra Aguiar</a>
                    </div>
                </div>
            </div>

        </div>

    </footer>
    <!-- FIN DEL FOOTER -->

    <!-- Modales -->
    <!-- Modal 1 -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-dark text-light">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Powerby</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="mb-3">
                        <img src="../assets/powerby.jpg" class="rounded" alt="logo" width="311px" height="400px">
                    </div>
                    <h2>Power by Alexandra Aguiar </h2>
                    <h3>(503) 930 - 5315 </h3>
                    <div class="container align-items-center">
                        <a href="https://www.zillow.com/profile/SuperStar717">
                            <img src="../assets/zillow_logo.png" alt="Bootstrap" class="mx-2" width="32px"
                                height="32px">
                        </a>
                        <a href="https://www.facebook.com/TLOVE.enterprises">
                            <img src="../assets/facebook.png" alt="Bootstrap" class="mx-2" width="32px" height="32px">
                        </a>
                        <a href="https://www.instagram.com/tlove.enterprises.llc/">
                            <img src="../assets/imstagram.png" alt="Bootstrap" class="mx-2" width="32px" height="32px">
                        </a>


                    </div>
                    <br>
                    <p>My name is Alexandra Aguiar. I am a Bilingual (Spanish & English) licensed Principal Broker,
                        Realtor, GRI in the State of Oregon. I have over 22 years experience in the real estate
                        industry. I can assist, guide, advise and help you achieve your homeownership dreams. Regardless
                        if it is your first, second, third home. Plus I will glady share my own personal and
                        professional experience and strategies when investing in any real estate market. I can also show
                        you how to build financial wealth, stability and freedom. Because experience does matter and
                        makes a big difference when wanting and expecting results!. Let me put my experience and
                        expertise to work for you. I Look forward to building long lasting relationships both personally
                        and professionally. :)</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin modal 1 -->

    <!-- Modal 2 -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content bg-light text-dark">
                <!-- Cambié bg-dark a bg-light y text-light a text-dark -->
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Contact us</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                    <div class="row justify-content-center">
                        <div class="col-md-6 mb-4">
                            <div class="social-media-section">
                                <h3>Our information</h3>
                                <ul class="list-unstyled">
                                    <li class="mb-3">
                                        <img src="../assets/facebook.png" alt="Facebook" width="30">
                                        <a href="https://www.facebook.com/profile.php?id=61555867088200"
                                            class="text-decoration-none text-dark">/ TLOVE Enterprises LLC</a>
                                    </li>
                                    <li class="mb-3">
                                        <img src="../assets/zillow_logo.png" alt="Twitter" width="30">
                                        <a href="https://www.zillow.com/profile/SuperStar717"
                                            class="text-decoration-none text-dark">Zillow</a>
                                    </li>
                                    <li class="mb-3">
                                        <img src="../assets/imstagram2.png" alt="Instagram" width="30">
                                        <a href="https://www.instagram.com/tlove.enterprises.llc/"
                                            class="text-decoration-none text-dark">/ tlove.enterprises.llc</a>
                                    </li>
                                    <li class="mb-3">
                                        <img src="../assets/correo.png" alt="Instagram" width="30">
                                        <a class="text-decoration-none text-dark">/
                                            tlove.enterprisesllc21@gmail.com</a>
                                    </li>
                                    <li class="mb-3">
                                        <img src="../assets/whatsapp.png" alt="Instagram" width="30">
                                        <a class="text-decoration-none text-dark">(971) 375-2547 / (503) 930 5315</a>
                                    </li>
                                    <li class="mb-3">
                                        <img src="../assets/internet.png" alt="Instagram" width="30">
                                        <a class="text-decoration-none text-dark" href="/">www.TLOVE Enterprises
                                            LLC.com</a>
                                    </li>
                                    <li class="mb-3">
                                        <img src="../assets/logo_link.png" alt="Instagram" width="30">
                                        <a class="text-decoration-none text-dark"
                                            href="https://www.linkedin.com/company/99182793/admin/feed/posts/">LinkedIn</a>
                                    </li>
                                    <li class="mb-3">
                                        <img src="../assets/logo_youtube.png" alt="Instagram" width="30">
                                        <a class="text-decoration-none text-dark"
                                            href="https://www.youtube.com/@TLOVE.ENTERPRISES">YouTube</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer align-items-center">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin modal 2 -->


</body>
<script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({ pageLanguage: 'en', includedLanguages: 'es,ca,eu,gl,en,fr,it,pt,de', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, gaTrack: true }, 'google_translate_element');
    }
</script>

</html>